* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba (255, 255, 255, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 0.4s ease,transform 0.4s ease;
     overflow : hidden; 
     
}
.container .form-box {
width: 100%;
padding: 40px;

}
.form-box {
    position: absolute;
    /* top: 0; */
    /* min-height: 460px; */
    width: 100%;
    /* padding: 40px; */
     transition: transform 0.4s ease-in-out; 
    overflow: visible;
}

.form-box.login {
    transform: translateY(0);
}

.form-box.register {
    transform: translateY(100%);
}

.container.show-register .form-box.login {
    transform: translateY(-100%);
}

.container.show-register .form-box.register {
    transform: translateY(0);
}

.register-link,
.login-link {
    color: #3a82f4;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s ease;
}

.register-link:hover,
.login-link:hover {
    color: #162938;
}


.form-box h2 {
    font-size : 2em;
    color: #162938;
    text-align: center;

}
.input-group {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}
.input-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
   
}
.input-group input:focus ~ label,
.input-group input:valid ~ label {
    top: -5px;
}

.input-group input:focus,
.input-group input:valid {
    border-bottom: 2px solid #3a82f4;
}
.input-group input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-group .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}
.remembered-password {
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remembered-password label input {
    accent-color: #162938;
    margin-right: 3px;
}
.remembered-password a {
    color: #162938;
    text-decoration: none;
}
.remembered-password a:hover {
    text-decoration: underline;
}
.btn {
width : 100%;
height: 45px;
background: #162938;
border: none;
outline: none;
border-radius: 6px;
cursor: pointer;
font-size: 1em;
color: #fff;
font-weight: 500;
}
.login-register {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
    /* line-height: 1.5; */
}
.login-register p {
    margin : 0;
}
.login-register a {
color: #3a82f4;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}
.login-register a:hover {
    text-decoration: underline;
}

